{% extends 'basefront.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        <div class="row">
            <div class="col-6">
                {{ form_row(registrationForm.name) }}
            </div>
            <div class="col-6">
                {{ form_row(registrationForm.surname) }}
            </div>
        </div>
        {{ form_row(registrationForm.adresse) }}
        <br><br>
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
