{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <h1>List Products </h1>


    <table class="table">

        <a href="{{ path("app_product_add") }}" class="btn btn-primary my-2"><i class="fa fa-plus"></i> Add product</a>

        {% for product in products %}
            <tr>
                <td>{%  if product.photo is not null %}
                        <a href="/upload/{{ product.photo }}"><img src="/upload/{{ product.photo }}" style="max-width:80px; max-height:80px"></a>
                    {% endif %}
                </td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }} €</td>
                <td>{{ product.category }}</td>
                <td>
                        <a href="{{ path("app_product_edit", {"id": product.id}) }}" class="btn btn-primary"><i class="fa fa-pencil-alt"></i>
                        <a href="{{ path("app_product_delete", {"id": product.id}) }}" class="btn btn-danger ml-2"   onclick="return confirm('Delete this line?');"><i class="fa fa-trash-alt"></i>
                </td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}
