{% extends 'basefront.html.twig' %}

{% block title %}Biscotah{% endblock %}

{% block body %}

    <h1 class="my-5">Biscotta Online</h1>

    {% for category in categories %}
        <h2>{{ category.name }}</h2>

        <div class="card-deck">
        {% for product in products[category.id] %}
            <div class="col-3 mb-3">
                <div class="card  h-100">
                    {%  if  product.photo is not null  %}
                        <img src="/upload/{{ product.photo }}" class="card-img-top" alt="">
                    {% endif %}

                    <div class="card-header">
                        {{ product.name }}
                    </div>

                    <div class="card-body">
                        {{ product.description }}

                        <p class="font-weight-bold mb-0 mt-3">Available</p>
                        <form method="post" action="{{ path("app_cart_cartitem_shoes_add") }}">
                            <select name="option[color]">
                                {% for color in product.colors %}
                                    <option value="{{ color.id }}">{{ color.name }}</option>
                                {% endfor %}
                            </select>

                            <input type="hidden" name="productId" value="{{ product.id }}">
                            <input type="submit" class="btn btn-primary" value="Add Cart">
                        </form>

                    </div>
                    <div class="card-footer">
                        {{ product.price }} €
                    </div>
                </div>

            </div>
        {% endfor %}
        </div>
        <hr class="my-5">
    {% endfor %}
{% endblock %}
